.button-wrapper {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #e0e0e0;
    color: white;
    flex: 1;
    border: none;
    border-radius: 8px;
    margin: .5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;

  
  }

  .button-wrapper:hover {
    background-color: #d4d4d4;
  }